#color-palette {
  border: 3px solid red;
}

.color:first-child {
  background-color: black;
}
#color-palette .color {
  border: 1px solid black;
  width: 80px;
  height: 80px;
  display: inline-block;
}

#pixel-board {
  border: 3px solid red;
  height: 240px;
  width: 240px;
  line-height: 0px;
  text-align: center;
  margin-top: 20px;
}

.pixel {
  width: 40px;
  height: 40px;
  display: inline-block;
  border: 1px solid black;
  margin: 0px;
  background-color: white;
}
